* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  text-decoration: none;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

input, select, textarea, .form-control {
  width: 100%;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
    border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  height: 50px;
  padding: 0 15px;
  color: #a9a9a9; }
  input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder, .form-control::-webkit-input-placeholder {
    color: #a9a9a9; }
  input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder, .form-control::-moz-placeholder {
    color: #a9a9a9; }
  input::-ms-input-placeholder, select::-ms-input-placeholder, textarea::-ms-input-placeholder, .form-control::-ms-input-placeholder {
    color: #a9a9a9; }
  input::placeholder, select::placeholder, textarea::placeholder, .form-control::placeholder {
    color: #a9a9a9; }
  input:hover, input:focus, select:hover, select:focus, textarea:hover, textarea:focus, .form-control:hover, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

input.font-500 {
  font-weight: 500;
  color: #212121; }
  input.font-500::-webkit-input-placeholder {
    color: #212121; }
  input.font-500::-moz-placeholder {
    color: #212121; }
  input.font-500::-ms-input-placeholder {
    color: #212121; }
  input.font-500::placeholder {
    color: #212121; }

.form-text {
  margin: 14px 0 0 0;
  padding: 0 0 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #a9a9a9; }
  .form-text .links {
    display: inline;
    text-decoration: none;
    margin: 0 0 0 4px; }

label {
  display: block; }

button {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease; }
  button:hover, button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease; }

.btn-accent {
  width: 198px;
  height: 40px;
  border: solid 1px #4e79ff;
  background-color: #4e79ff;
  text-align: center;
  color: #fff; }
  .btn-accent:hover {
    background: #595959;
    color: #fff; }

.btn-white {
  background: #fff;
  color: #4e79ff;
  width: 129px;
  height: 40px; }
  .btn-white:hover {
    background: #595959;
    color: #fff; }

.btn-border {
  border: solid 1px #4e79ff;
  width: 253px;
  height: 40px;
  color: #4e79ff; }
  .btn-border:hover {
    background: #4e79ff;
    color: #fff; }

.btn-border-white {
  border: solid 1px #ffffff;
  width: 254px;
  height: 40px;
  color: #fff; }
  .btn-border-white:hover {
    background: #ffffff;
    color: #4e79ff; }

.w-100 {
  width: 100%; }

.bg-grey {
  background: #efefef; }

.bg-blue {
  background: #4e79ff;
  color: #fff; }
  .bg-blue h2, .bg-blue h1 {
    color: #fff; }

.btn-white__two {
  width: 273px;
  height: 48px;
  background-color: #ffffff;
  font-size: 20px;
  color: #000; }
  .btn-white__two:hover {
    background: #4e79ff;
    color: #fff; }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #212121; }

h2 {
  font-size: 30px;
  font-weight: bold;
  color: #212121; }

.description {
  font-size: 20px;
  font-weight: 500;
  color: #595959;
  margin: 10px 0 0 0; }

.color-white {
  color: #fff; }

.color-blue {
  color: #4e79ff; }

.bg-black {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#292929));
  background-image: linear-gradient(to top, #000000, #292929); }

.links {
  color: #4e79ff;
  text-decoration: underline; }
  .links:hover {
    text-decoration: none;
    color: #212121; }

.list-check {
  color: #595959;
  font-size: 20px;
  padding: 0 0 0 59px;
  margin: 50px 0; }
  .list-check li {
    position: relative;
    padding: 0 0 0 23px;
    margin: 0 0 12px; }
    .list-check li:last-child {
      margin: 0; }
    .list-check li:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      background: url("../img/check-grey.png") no-repeat center;
        background-size: contain;
      width: 16px;
      height: 11px; }

.list-check__white {
  color: #fff; }
  .list-check__white li:before {
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1); }

.p-70 {
  padding: 70px 0; }

.pl-100 {
  padding: 0 0 0 100px; }

.pl-70 {
  padding: 0 0 0 70px; }

.p-30 {
  padding: 30px 0; }

.m-30 {
  margin: 30px 0; }

.container {
  max-width: 1230px; }

header {
  padding: 17px 0 8px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 7;
  width: 100%; }
  header .dropdown-menu {
    border: none;
      border-radius: 5px;
    -webkit-box-shadow: 0 0 32.6px 2.5px rgba(0, 0, 0, 0.13);
            box-shadow: 0 0 32.6px 2.5px rgba(0, 0, 0, 0.13);
    border: solid 1px rgba(89, 89, 89, 0.38);
    background-color: #ffffff; }

.navbar-toggler {
  padding: 0;
  border: none;
  width: 20px;
  height: 15px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 20px;
  display: none; }
  .navbar-toggler span {
    display: block;
    width: 100%;
    background: #212121;
    height: 2px;
    border-radius: 2px;
    margin: 0 0 3px; }
    .navbar-toggler span:last-child {
      margin: 0; }

.navbar {
  padding: 0; }
  .navbar .nav-item {
    padding: 5px;
    border-radius: 5px; }
  .navbar .dropdown-menu {
    padding: 40px 40px 4px;
    min-width: 260px;
    margin: 23px 0 0 0; }
  .navbar .show .dropdown-menu {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .navbar .show.dropdown {
    background: #4e79ff; }
    .navbar .show.dropdown .nav-link {
      color: #fff; }
    .navbar .show.dropdown .dropdown-toggle::after {
      -webkit-filter: brightness(0) invert(1);
              filter: brightness(0) invert(1); }
  .navbar .dropdown-item {
    padding: 0;
    max-width: 113px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #595959;
    font-size: 11px;
    white-space: normal;
    width: 100%; }
    .navbar .dropdown-item:hover {
      background: transparent;
      color: #4e79ff; }
      .navbar .dropdown-item:hover .dropdown-item__title {
        color: #4e79ff; }
    .navbar .dropdown-item .dropdown-item__title {
      color: #212121;
      font-size: 16px;
      font-weight: 500;
      -webkit-transition: .3s ease;
      transition: .3s ease;
      width: 100%; }
  .navbar .dropdown-item.w-100 {
    max-width: none; }

.dropdown-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .dropdown-menus .line {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.dropdown-menu {
  min-width: auto; }

.dropdown-item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 48px 39px 0;
  min-width: 160px; }
  .dropdown-item__wrap:last-child {
    margin-right: 0; }

.dropdown-item__icon {
  margin: 0 15px 0 0;
  width: 30px;
  min-width: 30px; }

.nav-link, .navbar-expand-md .navbar-nav .nav-link {
  padding: 0; }

.nav-link {
  font-size: 19px;
  font-weight: 500;
  color: #4e79ff; }

.nav-item {
  margin: 0 20px 0 0; }
  .nav-item:last-child {
    margin: 0; }

.dropdown-toggle::after {
  width: 12px;
  height: 6px;
  background: url("../img/down-arrow.png") no-repeat center;
    background-size: contain;
  border: none;
  vertical-align: middle;
  margin-left: 4px; }

.language {
  margin: 0 0 0 31px; }
  .language .nav-link, .language .dropdown-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .language .nav-link .icon, .language .dropdown-item .icon {
      width: 30px;
      margin: 0 7px 0 0; }

.header-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%; }

main {
  padding: 125px 0 0;
  position: relative;
  overflow: hidden; }

.main-content p {
  font-size: 20px;
  font-weight: 500; }
  .main-content p a {
    display: inline; }

.main-content .btn {
  margin: 46px auto 50px;
  width: 179px;
  height: 48px; }

.main-image {
  margin: 90px 0 -175px -30px; }

.credit-debits {
  padding: 50px 0 30px; }

.credit-debits__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.credit-debits__content .btn {
  margin: 0 0 0 58px; }

.credit-staible {
  padding: 70px 0; }
  .credit-staible .btn {
    width: 129px;
    margin: 0 0 0 58px; }
  .credit-staible .list-check {
    margin: 30px 0 46px; }

.credit-staible__image {
  margin: 20px 0 0 0; }

.staking-content {
  max-width: 445px;
  margin: 0 auto; }
  .staking-content h2, .staking-content .description {
    text-align: center; }
  .staking-content .list-check {
    padding: 0 0 0 20px;
    margin: 50px 0 46px; }
  .staking-content .btn {
    margin: 0 auto; }

.buy-credits__content .btn {
  margin: 0 0 0 56px; }

.buy-credits__content .list-check {
  margin: 55px 0 46px; }

.image-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 56px 0 0 56px; }
  .image-group .img-card {
    margin: 0 16px 0 0; }
    .image-group .img-card:last-child {
      margin: 0; }

.purchase-credits {
  max-width: 570px;
  width: 100%;
  margin: 0 0 0 auto;
  background: #efefef;
  border-radius: 5px;
  padding: 20px; }
  .purchase-credits h3 {
    font-size: 20px;
    color: #13191c;
    text-align: center;
    margin: 0 auto 40px; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  form .form-group {
    max-width: 255px;
    width: 100%;
    position: relative;
    margin: 0 0 40px; }
    form .form-group label {
      margin: 0 0 14px;
      padding: 0 0 0 15px;
      font-size: 17px;
      color: #212121; }
  form .w-100 {
    max-width: none; }
  form button {
    margin: 13px auto 0; }

.input-group {
  width: 100%;
  position: relative; }

.input-group__it {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 85px;
  background: #f7f7f7;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #595959;
  font-size: 17px;
  z-index: 2; }
  .input-group__it .dropdown-menu {
    margin: 0;
    left: 0 !important;
    top: 100% !important;
    -webkit-transform: none !important;
            transform: none !important;
    width: 100%;
    min-width: auto;
    border-radius: 0;
    padding: 0; }
  .input-group__it .nav-link {
    font-weight: normal;
    color: #595959; }
    .input-group__it .nav-link:after {
      background: url("../img/down-arrow-grey.png") no-repeat center;
        background-size: contain; }

.buy-credits__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.revolution {
  padding: 30px 0 50px; }
  .revolution .btn {
    margin: 0 0 0 56px;
    width: 159px; }
  .revolution .list-check {
    padding: 0 0 0 40px;
    margin: 50px 0 45px; }

.revolution-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }

.credits-decentralized {
  padding: 50px 0 30px; }
  .credits-decentralized .list-check {
    margin: 50px 0 33px; }
  .credits-decentralized .btn {
    margin: 0 0 0 56px; }

.partnerships {
  padding: 70px 0 100px; }
  .partnerships h2 {
    margin: 0 auto 69px; }
  .partnerships .btn {
    margin: 0 auto;
    width: 147px; }

.partnerships-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 15px;
  color: #595959;
  margin: 0 0 46px; }

.partnerships-logo {
  min-height: 40px;
  margin: 0 0 33px; }

.news {
  padding: 0 0 40px; }
  .news h2 {
    margin: 0 auto 50px; }

.news-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 30px;
  font-size: 20px; }

.news-image {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  background-color: #efefef;
  margin: 0 0 12px;
  overflow: hidden; }

.date {
  font-size: 15px;
  color: #595959; }

footer h3 {
  font-size: 20px;
  margin: 0 0 10px; }

.footer-menu li {
  margin: 0 0 8px; }
  .footer-menu li:last-child {
    margin: 0; }
  .footer-menu li a {
    color: #4e79ff;
    font-size: 20px; }
    .footer-menu li a:hover {
      color: #000; }

.footer-bottom {
  padding: 25px 0;
  background: #d4d4d4;
  font-size: 20px;
  color: #212121; }

.footer-top {
  padding: 50px 0 18px;
  background: #e1e1e1; }

.footer-box__wrapper {
  padding: 0 0 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .footer-box__wrapper .logo {
    width: 41px;
    height: 40px;
    margin: 0 29px 0 0; }

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 0; }
  .list-social li {
    margin: 0 30px 0 0; }
    .list-social li:last-child {
      margin: 0; }
    .list-social li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 0 32px;
      font-size: 15px;
      color: #4e79ff;
      width: 71px; }
      .list-social li a .text {
        margin: 11px auto 0; }

.footer-box__social {
  padding: 0 0 0 70px; }
  .footer-box__social h3 {
    padding: 0 0 0 10px; }

header.color-white .nav-link {
  color: #fff; }
  header.color-white .nav-link:after {
    background: url("../img/down-arrow-white.png") no-repeat center;
      background-size: contain; }

header.color-white .navbar-toggler span {
  background: #fff; }

.main-credits__two h1, .main-credits__two p {
  color: #fff; }

.main-credits__two .btn {
  width: 273px;
  height: 48px; }

.main-credits__two .main-content {
  padding: 0 165px 0 100px; }

.main-credits__two .main-image {
  margin: 50px 0 -124px -30px; }

.credits-wallet {
  padding: 30px 0; }
  .credits-wallet .description {
    margin: 10px auto 50px; }

.credits-wallet__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #595959;
  font-size: 20px;
  margin: 0 0 30px; }
  .credits-wallet__box h3 {
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 10px; }

.credits-wallet__content {
  margin: 20px auto 0;
  max-width: 225px;
  width: 100%; }

.grate-benefit {
  padding: 30px 0 0; }

.global-payment__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.global-payment .list-check {
  margin: 50px 0 0 0; }

.characteristics h2 {
  margin: 0 0 50px; }

.characteristics-box {
  margin: 0 0 64px; }

.characteristics-box__content {
  margin: 19px 0 0 0;
  max-width: 145px;
  color: #595959;
  font-size: 20px; }
  .characteristics-box__content h3 {
    margin: 0 0 10px;
    font-size: 25px;
    font-weight: bold; }

.main-credits__three h1 {
  max-width: 385px;
  width: 100%; }

.main-credits__three .btn {
  margin: 46px 0 50px 80px;
  width: 223px; }

.main-credits__three .main-image {
  margin: 0 auto; }

.section-advantages {
  padding: 50px 0 0; }

.advantages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #595959;
  font-size: 20px;
  margin: 0 auto 76px; }
  .advantages-box h3 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 auto 10px; }

.advantages-box__content {
  max-width: 308px;
  width: 100%;
  margin: 20px auto 0; }

.main-credits__four .description {
  font-size: 20px; }

.main-credits__four .main-image {
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-credits__four .button-group {
  margin: 0 0 113px; }

.button-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 60px; }
  .button-group .btn {
    margin: 0 25px 0 0;
    width: 186px; }
    .button-group .btn:last-child {
      margin: 0;
      width: 165px; }

.main-credits__box {
  margin: 0 0 49px;
  color: #595959;
  font-size: 15px; }
  .main-credits__box h3 {
    font-weight: bold;
    color: #212121;
    font-size: 20px; }
  .main-credits__box p {
    margin: 10px 0; }
  .main-credits__box .links {
    font-weight: 500;
    font-size: 20px; }

.section-credits h4 {
  font-size: 30px;
  font-weight: bold;
  margin: 55px 0 46px;
  padding: 0 0 0 59px; }

.section-credits .credit-debits__image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.useful-services {
  padding: 70px 0 20px; }
  .useful-services h2 {
    margin: 0 auto 58px; }

.useful-services__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #595959;
  font-size: 20px;
  margin: 0 0 50px; }
  .useful-services__box h3 {
    color: #595959;
    font-size: 30px;
    margin: 0 0 5px;
    font-weight: bold; }

.useful-services__icon {
  width: 38px;
  min-width: 38px;
  margin: 0 31px 0 0; }

.for-developers {
  padding: 30px 0 0; }
  .for-developers h2 {
    margin: 0 auto 50px; }
  .for-developers .credits-wallet__box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 15px; }
    .for-developers .credits-wallet__box h3 {
      font-size: 20px; }

.main-credits__five .main-image {
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.section-advantages__two {
  padding: 30px 0 0; }

.advant-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 240px;
  font-size: 20px;
  margin: 0 0 30px; }
  .advant-box h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px; }

.advant-box__icon {
  margin: 0 auto 20px; }

.useful-links {
  padding: 100px 0 63px; }
  .useful-links .list-check {
    margin: 22px 0 0;
    padding: 0 0 0 40px; }
    .useful-links .list-check .links {
      display: inline; }

.section-advantages__three {
  padding: 50px 0 0; }
  .section-advantages__three .advant-box__icon {
    margin: 0 0 22px; }
  .section-advantages__three .advant-box {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #595959;
    font-size: 15px; }
    .section-advantages__three .advant-box h3 {
      color: #212121;
      font-size: 20px;
      font-weight: bold; }

.credits-stable .btn {
  width: 129px;
  height: 40px;
  margin: 0 auto; }

.credits-stable__content {
  margin: 50px auto 46px;
  max-width: 780px;
  width: 100%;
  color: #595959;
  font-size: 20px;
  font-weight: 500; }
  .credits-stable__content p {
    margin: 0 0 20px; }
    .credits-stable__content p:last-child {
      margin: 0; }

.accordion {
  margin: 49px 0 0; }
  .accordion .card .card-header {
    margin: 0; }

.card-header {
  padding: 0;
  border: none;
  background: transparent;
  font-size: 25px;
  color: #4e79ff;
  font-weight: bold;
  margin: 0; }
  .card-header button {
    font-size: 25px;
    font-weight: bold; }
  .card-header:hover button, .card-header:focus button {
    text-decoration: none;
    color: #000; }

.card {
  background: transparent;
  border: none;
    border-radius: 0;
  margin: 0 0 40px; }
  .card:last-child {
    margin: 0; }

.card-body {
  color: #595959;
  font-size: 20px;
  max-width: 600px;
  width: 100%;
  padding: 0 0 0 50px; }

.our-global .description {
  max-width: 470px;
  width: 100%;
  margin: 10px auto 0; }

.our-global__box {
  margin: 50px 0 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #595959;
  font-size: 20px; }
  .our-global__box h3 {
    font-size: 25px;
    font-weight: bold;
    color: #212121; }

.our-global__icon {
  margin: 0 25px 0 0;
  width: 59px;
  min-width: 59px; }

.photo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .photo-box img {
    width: 100%; }

.advisers .description {
  margin: 10px auto 50px; }

.more-news {
  padding: 30px 0 0; }
  .more-news .news-image {
    background: #ffffff; }

.links-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  color: #4e79ff;
  padding: 0 0 0 20px;
  margin: 0 0 40px; }
  .links-next:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 12px;
    height: 16px;
    background: url("../img/arrow-left-blue.png") no-repeat center;
      background-size: contain; }

.page-new {
  font-size: 20px;
  font-weight: 500;
  color: #212121;
  padding: 126px 0 70px; }

.date-new {
  color: #595959; }

.new-text p {
  margin: 0 0 30px; }
  .new-text p:last-child {
    margin: 0; }

.main-news {
  padding: 126px 0 70px;
  font-size: 20px;
  font-weight: 500;
  color: #595959; }
  .main-news h1 {
    font-size: 30px;
    margin: 0 0 50px; }
  .main-news .new-text {
    margin: 10px 0; }

.main-news__image {
  height: 285px;
  border-radius: 5px;
  background-color: #efefef;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-news__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-credits__nine {
  padding: 127px 0 50px; }
  .main-credits__nine h1 {
    margin: 0 auto;
    max-width: 630px;
    width: 100%; }

.financial-products {
  padding: 50px 0 30px; }

.financial-products__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left; }
  .financial-products__content .btn {
    width: 273px;
    height: 48px;
    margin: 45px auto 0; }

.about-credits {
  padding: 70px 0 20px; }
  .about-credits .description {
    max-width: 710px; }

.section-advantages__four {
  padding: 30px 0 0; }
  .section-advantages__four .advant-box {
    margin: 0 0 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    color: #212121;
    font-size: 25px;
    font-weight: bold; }
  .section-advantages__four .advant-box__icon {
    max-width: 60px;
    height: 60px;
    width: 100%;
    margin: 0 0 26px; }

.our-mission__image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.description p {
  margin: 0 0 30px; }
  .description p:last-child {
    margin: 0; }

.brief-history__content {
  font-size: 20px;
  color: #595959;
  margin: 0 0 70px; }
  .brief-history__content h2 {
    max-width: 370px;
    width: 100%; }
  .brief-history__content .links {
    display: inline; }

.main-contacts h1 {
  margin: 0 auto 50px;
  font-size: 30px; }

.main-contacts h4 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 15px;
  color: #212121; }

.main-contacts h3 {
  color: #212121;
  font-size: 30px;
  text-align: center;
  width: 100%;
  font-weight: bold; }

.main-contacts .list-social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .main-contacts .list-social li {
    margin: 0 0 28px; }
    .main-contacts .list-social li a {
      width: 130px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      color: #212121;
      font-size: 20px;
      margin: 0; }
      .main-contacts .list-social li a .icon {
        width: 32px;
        min-width: 32px;
        margin: 0 14px 0 0; }
      .main-contacts .list-social li a .text {
        margin: 0; }

.main-contacts__box {
  margin: 0 0 70px;
  color: #595959;
  font-size: 20px; }
  .main-contacts__box a {
    color: #595959; }
  .main-contacts__box .links {
    color: #4e79ff; }
  .main-contacts__box .box-info {
    margin: 0 0 30px; }
    .main-contacts__box .box-info:last-child {
      margin: 0; }

.footer-boonox .footer-menu li a, .footer-boonox .list-social li a {
  color: #595959; }

.footer-boonox .logo {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%); }

.page-boonox .description {
  margin: 30px 0; }

.page-boonox h6 {
  color: #212121;
  font-size: 20px;
  font-weight: 500; }

.page-boonox .image-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.page-boonox__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%; }

.about-boonox {
  padding: 50px 0; }

.main-boonox .btn {
  margin: 0 auto 50px; }

.marketing-channels__image {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.marketing-channels {
  padding: 50px 0 30px; }
  .marketing-channels .btn {
    margin: 0 0 0 56px; }

.what-bonoox {
  padding: 100px 0 70px; }
  .what-bonoox .description {
    max-width: 810px;
    width: 100%;
    margin: 10px auto 50px;
    line-height: 1.6; }
    .what-bonoox .description p {
      margin: 0; }
  .what-bonoox .btn {
    margin: 0 auto;
    width: 224px; }

.what-bonoox__two {
  padding: 0 0 70px; }
  .what-bonoox__two h3 {
    font-size: 30px;
    color: #595959;
    font-weight: 500;
    margin: 20px 0 0; }
  .what-bonoox__two .list-check {
    margin: 30px 0 0; }

.completed-plans .description {
  margin: 0 auto 50px; }

.completed-plans .btn {
  margin: 30px auto 20px;
  width: 137px; }

.completed-plans__box {
  background: #fff;
  padding: 20px 15px 19px;
  color: #595959;
  font-size: 20px; }
  .completed-plans__box p {
    text-align: center;
    width: 100%; }
  .completed-plans__box .list-check {
    padding: 0;
    margin: 30px 0; }
    .completed-plans__box .list-check li {
      margin: 0 0 5px; }
      .completed-plans__box .list-check li:last-child {
        margin: 0; }
  .completed-plans__box h3 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%; }
  .completed-plans__box .price {
    margin: auto auto 0;
    text-align: center;
    min-height: 35px; }
    .completed-plans__box .price span {
      font-size: 30px; }

.bg-white {
  background: #fff; }

.boonox-download {
  overflow: hidden; }
  .boonox-download .image-box {
    margin: 0 0 -183px; }
  .boonox-download .image-group {
    margin: 0; }
    .boonox-download .image-group .image {
      margin: 0 87px 0 0; }
      .boonox-download .image-group .image:last-child {
        margin: 0; }

.boonox-download__content {
  margin: 20px 0 0; }
  .boonox-download__content h1 {
    font-size: 25px; }
  .boonox-download__content .description {
    font-size: 20px; }

.get-rewards {
  padding: 70px 0 60px; }
  .get-rewards .btn-more {
    margin: 0 auto;
    width: 156px; }

.bonus-box {
  margin: 0 0 49px;
  color: #595959;
  font-size: 20px;
  line-height: 1.6; }
  .bonus-box h3 {
    color: #212121;
    font-size: 25px;
    font-weight: bold; }

.bonus-sale {
  color: #3768f1; }

.bonus-box__image {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  background-color: #efefef;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 18px; }

.localization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3768f1;
  font-size: 25px;
  font-weight: bold;
  margin: 0 88px 0 0; }

.loc-icon {
  width: 36px;
  min-width: 36px;
  margin: 0 26px 0 0; }

.custom-select {
  width: 270px;
  height: 40px;
  border-radius: 5px;
  border: solid 1px #212121;
  background: #fff url("../img/down-arrow-grey.png") no-repeat 96% center;
    background-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #212121;
  font-size: 15px;
  padding: 0 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .custom-select::-webkit-input-placeholder {
    color: #212121; }
  .custom-select::-moz-placeholder {
    color: #212121; }
  .custom-select::-ms-input-placeholder {
    color: #212121; }
  .custom-select::placeholder {
    color: #212121; }
  .custom-select:hover, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 50px auto;
  width: 100%; }

.all-bonuses, .cash-back {
  color: #595959;
  padding: 0 0 70px; }
  .all-bonuses .list-check, .cash-back .list-check {
    margin: 30px 0 0; }

.all-bonuses__content, .cash-back__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.revolution-loyalty h6 {
  font-size: 20px;
  font-weight: 500;
  margin: 30px 0 0; }

.great-bonuses {
  padding: 30px 0; }
  .great-bonuses h6 {
    color: #212121;
    font-weight: 500;
    font-size: 20px;
    margin: 10px 0 0; }
  .great-bonuses .image-group {
    margin: 50px 0 0; }
    .great-bonuses .image-group .image {
      margin: 0 87px 0 0; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1070px) {
  .page-boonox__image .image {
    width: 120px; } }

@media only screen and (max-width: 1040px) {
  .revolution-image .image {
    width: 33%; } }

@media only screen and (max-width: 991px) {
  .pl-100 {
    padding: 0; }
  .nav-link {
    font-size: 17px; }
  .revolution-image {
    margin: 40px 0 0 0; }
    .revolution-image .image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .footer-box__social {
    padding: 0;
    margin: 20px 0 0 0; }
  .footer-box__wrapper {
    padding: 0; }
  .nav-item {
    margin: 0 10px 0 0; }
  .characteristics-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
  .characteristics-box__content {
    max-width: none; }
  .main-credits__box {
    margin: 0 0 40px; }
  .for-developers .credits-wallet__box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .credits-wallet__content {
    max-width: none;
    text-align: center; }
  .section-advantages__three .advantages-box__content {
    max-width: none;
    text-align: center; }
    .section-advantages__three .advantages-box__content br {
      display: none; }
  .section-advantages__three .advant-box {
    max-width: none; }
  .section-advantages__three .advant-box__icon {
    margin: 0 auto 15px; }
  .our-global__box {
    font-size: 16px; }
    .our-global__box h3 {
      font-size: 18px; }
  .our-global__icon {
    width: 39px;
    min-width: 39px; }
  .page-boonox__image {
    margin: 40px auto 0; }
  .main-boonox__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px auto; }
  .main-boonox__content {
    padding: 0; }
  .boonox-download__content {
    text-align: center;
    margin: 0; }
  .boonox-download .image-box {
    margin: 30px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .boonox-download .image-group {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 40px; }
    .boonox-download .image-group .image {
      margin: 0; }
  .all-bonuses__image, .cash-back__image {
    margin: 30px auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .great-bonuses .cash-back__content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .great-bonuses .image-group {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%; }
    .great-bonuses .image-group .image {
      margin: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  main {
    padding: 95px 0 0; }
  h1 {
    font-size: 30px;
    text-align: center; }
  .list-check {
    font-size: 16px;
    margin: 30px 0; }
  .main-content p {
    font-size: 18px; }
  .main-image {
    margin: 20px auto -175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .navbar-toggler {
    display: block; }
  header .navbar .navbar-collapse {
    position: fixed;
    width: 100%;
    max-width: 290px;
    padding: 30px 20px;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-y: auto;
    background: #fff;
    z-index: 5; }
  header .navbar .nav-item {
    margin: 0 0 20px; }
  .language {
    margin: 0; }
  h2 {
    text-align: center;
    font-size: 26px; }
  .description {
    font-size: 16px;
    text-align: center; }
  .credit-debits__content .btn, .credit-staible__content .btn {
    margin: 0 auto; }
  .credit-debits__content .list-check, .credit-staible__content .list-check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .credit-staible__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .staking-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 30px 0 0; }
  .image-group {
    margin: 30px auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .buy-credits__content .btn {
    margin: 0 auto 30px; }
  .buy-credits__content .list-check {
    margin: 0 auto 30px;
    padding: 0; }
  .purchase-credits {
    margin: 0 auto; }
  .credits-decentralized__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px auto 0; }
  .credits-decentralized .list-check {
    padding: 0; }
  .credits-decentralized .btn {
    margin: 0 auto; }
  .navbar .show .dropdown-menu {
    left: 0;
    -webkit-transform: translate(0);
            transform: translate(0); }
  .dropdown-item__wrap {
    margin: 0 0 20px; }
  .dropdown-menus .line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .navbar .dropdown-menu {
    min-width: auto; }
  .navbar .show.dropdown {
    background: transparent;
    padding: 0; }
    .navbar .show.dropdown .nav-link {
      color: #4e79ff; }
      .navbar .show.dropdown .nav-link:after {
        -webkit-filter: none;
                filter: none; }
  .main-credits__two .main-content {
    padding: 0; }
  .main-credits__two .main-image {
    margin: 20px auto -175px; }
  header.color-white .navbar .nav-link {
    color: #000; }
    header.color-white .navbar .nav-link:after {
      background: url("../img/down-arrow-grey.png") no-repeat center;
        background-size: contain; }
  .global-payment .list-check {
    margin: 50px 0;
    padding: 0; }
  .main-credits__three h1 {
    max-width: none; }
  .main-credits__three .btn {
    margin: 0 auto 40px; }
  .main-credits__four .main-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto 70px;
    height: auto; }
  .main-credits__four .button-group {
    padding: 0;
    margin: 0 auto 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .section-credits h4 {
    text-align: center;
    padding: 0; }
  .section-credits .credit-debits__image {
    margin: 30px auto; }
  .useful-services__box {
    font-size: 16px; }
    .useful-services__box h3 {
      font-size: 18px; }
  .advant-box {
    max-width: none;
    text-align: center; }
  .credits-stable__content {
    font-size: 16px;
    font-weight: normal;
    margin: 30px auto; }
  .our-global__box {
    margin: 0 0 30px; }
  .our-global .description {
    margin: 10px auto 30px; }
  .photo-box {
    margin: 0 auto 30px; }
  .image-new {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .page-new {
    padding: 126px 0 50px;
    font-size: 16px; }
  .date-new {
    font-size: 18px; }
  .links-next {
    font-size: 16px; }
    .links-next:before {
      height: 12px; }
  .main-news {
    font-size: 18px; }
    .main-news__content {
      margin: 0 0 50px; }
  .financial-products__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 40px auto 0; }
  .section-advantages__four .advant-box__icon {
    margin: 0 auto 26px; }
  .section-advantages__four .advant-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 18px; }
    .section-advantages__four .advant-box br {
      display: none; }
  .brief-history__content {
    font-size: 16px; }
    .brief-history__content h2 {
      max-width: none; }
  .brief-history__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .our-mission__image {
    margin: 30px auto 0; }
  .main-contacts h3 {
    text-align: left; }
  .main-contacts .list-social {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .main-contacts__box {
    margin: 0 0 40px;
    font-size: 18px; }
  .marketing-channels .btn {
    margin: 0 auto 40px; }
  .what-bonoox {
    padding: 60px 0 30px; }
  .what-bonoox__two h3 {
    font-size: 20px;
    text-align: center;
    margin: 10px 0; }
  .what-bonoox__two .list-check {
    margin: 30px 0 20px; }
  .what-bonoox__image {
    margin: 40px auto 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .bonus-box {
    font-size: 16px;
    margin: 0 0 30px; }
    .bonus-box h3 {
      font-size: 18px; }
  .localization {
    font-size: 18px;
    margin: 0 40px 0 0; }
  .loc-icon {
    width: 20px;
    min-width: 20px;
    margin: 0 15px 0 0; }
  .custom-select {
    width: 220px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 585px) {
  form .form-group {
    max-width: 100%; }
  .news-box {
    font-size: 16px; }
  .credits-wallet__content {
    max-width: none;
    font-size: 16px;
    text-align: center; }
    .credits-wallet__content h3 {
      font-size: 18px; }
  .card-body {
    font-size: 16px;
    padding: 0 0 0 20px; }
  .card-header button {
    font-size: 18px; }
  .card {
    margin: 0 0 30px; }
  .accordion {
    margin: 30px 0 0 0; } }

@media only screen and (max-width: 480px) {
  .list-check {
    padding: 0; }
  .revolution .list-check {
    padding: 0; }
  .revolution .btn {
    margin: 0 auto; }
  .partnerships-box {
    font-size: 14px; }
  .partnerships {
    padding: 50px 0 70px; }
    .partnerships h2 {
      margin: 0 auto 40px; }
  footer h3 {
    font-size: 18px; }
  .footer-menu li a {
    font-size: 16px; }
  .list-social {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .list-social li {
      margin: 0; }
      .list-social li a {
        margin: 0 0 20px;
        width: 80px; }
  .footer-bottom {
    font-size: 14px; }
  .footer-box__wrapper .logo {
    margin: 0 10px 0 0; }
  .characteristics-box__content, .advantages-box, .advant-box {
    font-size: 16px; }
    .characteristics-box__content h3, .advantages-box h3, .advant-box h3 {
      font-size: 18px; }
  .advantages-box {
    margin: 0 auto 40px; }
  .advantages-box__content {
    max-width: none; }
  .main-credits__four .button-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .main-credits__four .button-group .btn {
      margin: 0 auto 10px;
      width: 200px; }
      .main-credits__four .button-group .btn:last-child {
        width: 200px; }
  .useful-services__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 12px; }
    .useful-services__box h3 {
      font-size: 14px; }
  .useful-services__icon {
    margin: 0 auto 16px; }
  .useful-links .list-check {
    padding: 0; }
  .filter-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 30px auto; }
  .localization {
    width: 100%;
    margin: 0 auto 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
